KERNEL=="sd?", ATTRS{idVendor}=="{{ thumb.idVendor }}", ATTRS{idProduct}=="{{ thumb.idProduct}}", SYMLINK+="gluster"
KERNEL=="sd?1", ATTRS{idVendor}=="{{ thumb.idVendor }}", ATTRS{idProduct}=="{{ thumb.idProduct}}", SYMLINK+="gluster1"
