KERNEL=="sd?", ATTRS{idVendor}=="{{ thumb.idVendor }}", ATTRS{idProduct}=="{{ thumb.idProduct }}", SYMLINK+="docker_volumes"
KERNEL=="sd?1", ATTRS{idVendor}=="{{ thumb.idVendor }}", ATTRS{idProduct}=="{{ thumb.idProduct }}", SYMLINK+="docker_volumes1"
